.grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
  }


img{
    width: 100%;
    height: auto;
}

.ommig{
    text-align: right;
}


@media screen and (min-width: 600px){
    .grid_1-2 {
        display: grid;
        grid-template-columns: 1fr 2fr ;
        gap: 1em;
      }

      /* .potrat{
        grid-column: 3/4;
      } */

      .grid_1-1{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 1em;
        }
        .temaopgave{
          margin: 0% 25% 0% 25%;
        }
}
