@font-face {
    font-family: plantagente;
    src: url(../font/Plantagenet\ Cherokee.ttf);
  }

body{
    background-color: rgb(247, 241, 234);
    margin: 0;
    padding-top: 6%;
}

header{
    position: fixed;
    background-color: rgb(247, 241, 234);
    padding: 1% 10% 0% 10%;
    font-family: plantagente;
    font-size: x-large;
    color: rgb(190, 30, 45);
    top: 0;
}

header a{
    text-decoration: none;
    color: rgb(190, 30, 45);
}

.overlay{
    height: 100%;
    width: 0;
    /* bliver på plads */
    position: fixed; 
    /* sidder på toppen */
    z-index: 1;
    left: 0;
    right: 0;
    /* background-color: rgb(227, 207, 225); */
    background-color: rgb(247, 241, 234);
    /* så den bliver inde for skærmen */
    overflow: hidden;
    /* slide ned effekt. transition */
    transition: 0.5s;
}

/* position til indholdet inde i overlay */
.overlay-content{
position: relative;
top: 25%;
width: 100%;
text-align: center;
margin-top: 30px;
}

/* navigations link inde i overlay */
.overlay a{
    padding: 8px;
    text-decoration: none;
    font-size: 32px;
    color: rgb(190, 30, 45);
    display: block;
    /* transsition effekt med hover */
    transition: 0.3s;
}

/* hover effekt på navigations link */
.overlay a:hover, .overlay a:focus {
    color: rgb(57, 73, 157);
}

/* position til luk knappen */
.overlay .closebtn{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

span:hover{
    color: rgb(57, 73, 157); 
}

a:hover{
    color: rgb(57, 73, 157); 
}

.logo{ padding: 0% 25% 0% 25%;}

.ommig{text-align: right;}
.ommigindex{grid-column: 14/15;}

.baggrund{
    background-color: rgb(190, 30, 45, 0.1);
     padding: 1% 10% 2% 10%;
}

.baggrund1{
    padding: 1% 10% 2% 10%;
}

.baggrund2{padding: 0% 23% 2% 23%;}

.baggrund2 p{max-width: 80ch;
    font-size: 16px;
}

h1{
    font-family: plantagente;
    color: rgb(57, 73, 157);
    text-align: center;
    font-size: 40px;
    margin-bottom: 0;
}

h2{font-family: plantagente;
    font-size: 34px;
}

h3{font-family: plantagente; font-size: 26px;}

p{
    font-size: 16px;
line-height: 1.7em;
max-width: 65ch;
}

.felx{
    display: flex; 
}

figcaption{color:rgb(190, 30, 45) ;}

.arrow{ border: solid rgb(190, 30, 45);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);}

ul.icon {
    list-style-image: url('../img/icon.webp');
    }

 .website{
        text-decoration: none;
        background-color: antiquewhite;
        padding: 2% 2% 0% 2%;
        border-radius: 8px;
      color: rgb(190, 30, 45);
     font-size: xx-large;
     font-family: plantagente;
    text-align: center;
    }

footer{
    text-align: center;
    color: rgb(190, 30, 45);
    font-family:plantagente;
}

/* når skærmen er mindre en 450pixels, ændre font-size og positionen på luk kanppen så de ikke over lapper */
@media (max-width: 450px){
    .overlay a{font-size: 20px;}
    .overlay .closebtn{
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
#mobil{display: block;}
#computer{display: none;}

header{font-size: larger;}
.baggrund2{ padding: 1% 2% 2% 2%;}
}

@media (min-width: 451px){
    /* main{padding: 0% 5% 5% 5%;} */
    #compuer{display: block;}
    #mobil{ display: none;}
}

@media (min-width: 1500px){
  p{font-size: 28px;}  
  .baggrund2 p{font-size: 28px;}
}


