body{
    background-color: rgb(249, 237, 223);
}
footer{
    text-align: center;
    color: rgb(253, 108, 41);
    font-family:Arial, Helvetica, sans-serif;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(253, 108, 41);
}
.overlay{
    height: 100%;
    width: 0;
    /* bliver på plads */
    position: fixed; 
    /* sidder på toppen */
    z-index: 1;
    left: 0;
    right: 0;
    /* background-color: rgb(227, 207, 225); */
    background-color: rgb(227, 207, 225, 0.9);
    /* så den bliver inde for skærmen */
    overflow: hidden;
    /* slide ned effekt. transition */
    transition: 0.5s;
}

/* position til indholdet inde i overlay */
.overlay-content{
position: relative;
top: 25%;
width: 100%;
text-align: center;
margin-top: 30px;
}

/* navigations link inde i overlay */
.overlay a{
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: rgb(255, 81, 37);
    display: block;
    /* transsition effekt med hover */
    transition: 0.3s;
}

/* hover effekt på navigations link */
.overlay a:hover, .overlay a:focus {
    color: rgb(246, 51, 191);
}

/* position til luk knappen */
.overlay .closebtn{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* når skærmen er mindre en 450pixels, ændre font-size og positionen på luk kanppen så de ikke over lapper */
@media screen  and (max-width: 450px){
    .overlay a{font-size: 20px;}
    .overlay .closebtn{
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
main{padding: 0% 5% 5% 5%;}
}

@media screen and (min-width: 450px){
    main{padding: 0% 5% 5% 5%;}
    
}

