@font-face {
    font-family: plantagente;
    src: url(../font/Plantagenet\ Cherokee.ttf);
  }
body{
    background-color: rgb(246, 234, 219);
    margin: 0;
}
header{
    padding: 2% 5% 2% 5%;
    font-family: plantagente;
    font-size: larger;
    color: rgb(190, 30, 45);
}
span:hover{
    color: rgb(26, 62, 83); 
}
header a{
    text-decoration: none;
    color: rgb(190, 30, 45);
}
a:hover{
    color: rgb(26, 62, 83); 
}
footer{
    text-align: center;
    color: rgb(190, 30, 45);
    font-family:plantagente;
}

h1{
    font-family: plantagente;
    color: rgb(190, 30, 45);
    text-align: center;
    font-size: 36px;
    text-shadow: 2px 2px rgb(26, 62, 83);
}
p{
    font-size: 18px;
line-height: 1.5em;
max-width: 65ch;
}

.felx{
    display: flex;
   
}
.overskrift{
    height: 10vh;
    background-image: url(../img/overskrift_3.webp); /* Sti til dit billede */
    background-size: cover; /* Sørger for, at billedet dækker hele containeren */
    background-position: center; /* Centrerer billedet */
    background-repeat: no-repeat; /* Forhindrer billedet i at gentage sig */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}  
.baggrund{
    background-color: rgb(190, 30, 45, 0.1);
     padding: 1% 8% 2% 8%;
}
.baggrund1{
    padding: 1% 8% 2% 8%;
}
.website{
    text-decoration: none;
    background-color: antiquewhite;
    padding: 2%;
    border-radius: 8px;
  color: rgb(190, 30, 45);
 font-size: xx-large;
 font-family: plantagente;
}
/* .baggrund{
    background-color: aquamarine;
} */
.arrow{ border: solid rgb(190, 30, 45);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);}

.overlay{
    height: 100%;
    width: 0;
    /* bliver på plads */
    position: fixed; 
    /* sidder på toppen */
    z-index: 1;
    left: 0;
    right: 0;
    /* background-color: rgb(227, 207, 225); */
    background-color: rgb(227, 207, 225, 0.9);
    /* så den bliver inde for skærmen */
    overflow: hidden;
    /* slide ned effekt. transition */
    transition: 0.5s;
}

/* position til indholdet inde i overlay */
.overlay-content{
position: relative;
top: 25%;
width: 100%;
text-align: center;
margin-top: 30px;
}

/* navigations link inde i overlay */
.overlay a{
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: rgb(255, 81, 37);
    display: block;
    /* transsition effekt med hover */
    transition: 0.3s;
}

/* hover effekt på navigations link */
.overlay a:hover, .overlay a:focus {
    color: rgb(246, 51, 191);
}

/* position til luk knappen */
.overlay .closebtn{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* .boks{
    background-color:rgb(190, 30, 45) ;
    border-radius: 2%;
    margin: 20px;
    padding: 10px;
}   */
/* når skærmen er mindre en 450pixels, ændre font-size og positionen på luk kanppen så de ikke over lapper */
@media screen and (max-width: 450px){
    .overlay a{font-size: 20px;}
    .overlay .closebtn{
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
/* main{padding: 0% 5% 5% 5%;} */
#mobil{display: block;}
#computer{display: none;}
.ommig{text-align: right;}
}

@media screen and (min-width: 451px){
    /* main{padding: 0% 5% 5% 5%;} */
    #compuer{display: block;}
    #mobil{ display: none;}
  
        .ommig{ text-align: right;}
}

@media screen and (min-width: 1500px){
  p{font-size: 30px;}  
}

